<footer class="border-top border-dark"
        id="footer">
    <div class="container py-7">
        <div class="row gy-4">
            <div class="col-4 col-md-2">
                <img class="img-fluid"
                     src="/assets/img/placeholder-16x9.png" alt="Selfie"
                     width="1920" height="1080" loading="lazy">
            </div>
            <div class="col-4 col-md-2">
                <figure>
                    <blockquote class="blockquote">
                        <p>{{ page.blockquote }}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">
                        Yours truly
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row gy-4 mt-5 mt-md-4 text-uppercase">
            <div class="col-2 col-md-1">
                <a href="https://github.com/jingtianfeng"
                   target="_blank" rel="noopener noreferrer">
                    GitHub
                </a>
            </div>
            <div class="col-2 col-md-1">
                <a href="https://ca.linkedin.com/in/jing-tian-feng-66a295120"
                   target="_blank" rel="noopener noreferrer">
                    LinkedIn
                </a>
            </div>
            <div class="col-4 col-md-2">
                <a href="mailto:jingtianfeng@gmail.com">
                    jingtianfeng@gmail.com
                </a>
            </div>
        </div>
        <div class="row gy-4 mt-6">
            <div class="col-4 col-md-2">
                {% include comp-legal.html %}
            </div>
            <div class="col-4 col-md-2">
                {% include comp-signature.html %}
            </div>
        </div>
        <div class="row gy-4 mt-6">
            <div class="col-4 text-uppercase">
                <a href="#nav-top">
                    Back to top ↑
                </a>
            </div>
        </div>
    </div>
</footer>
