<footer id="footer">
    <div class="border container">
        <div class="border border-dark
                    row align-items-center">
            <div class="border border-dark
                        col-4 col-md-2">
                <img class="border img-fluid"
                     src="/assets/img/placeholder-1x1.png" alt="Selfie"
                     height="160" width="auto">
            </div>
            <div class="border border-dark
                        col-4 col-md-2">
                <figure class="border">
                    <blockquote class="border blockquote">
                        <p>
                            Let me create a website that just works
                            so you can focus on your zone of expertise!
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mt-2">
                        Yours truly
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="border border-dark
                    row align-items-center">
            <address class="border border-dark
                            col-4">
                <a href="mailto:jingtianfeng@gmail.com"
                   class="fs-4 lh-lg">
                    jingtianfeng@gmail.com
                </a>
                <div class="border">
                    <a href="https://github.com/jingtianfeng">GitHub</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://ca.linkedin.com/in/jing-tian-feng-66a295120">LinkedIn</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#">Twitter</a>
                </div>
            </address>
        </div>
        <div class="border border-dark
                    text-nowrap
                    row">
            <div class="border border-dark
                        text-muted
                        col-4 col-md-2">
                <div class="border">
                    © {{ site.title }}. All rights reserved.
                </div>
                <small class="border">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/disclaimer"
                       class="text-muted fw-normal">
                        Disclaimer
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/privacy"
                       class="text-muted fw-normal">
                        Privacy
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/terms"
                       class="text-muted fw-normal">
                        Terms
                    </a>
                </small>
            </div>
            <a class="border border-dark
                      text-muted fw-normal
                      d-flex align-items-center
                      col-4 col-md-2"
               href="https://jtfeng.com"
               target="_blank" rel="noopener noreferrer">
                <div class="border
                            ms-md-auto">
                    <div>
                        &nbsp;&nbsp;&nbsp; JT FENG | WEB DEV
                    </div>
                    <small>
                        &nbsp;&nbsp;&nbsp;&nbsp; Made with Canadian ❤
                    </small>
                </div>
                <img class="border
                            ms-4 me-1"
                     src="/assets/img/jtfeng.png" alt="Website built by JT Feng"
                     height="50" width="auto">
            </a>
        </div>
        <div class="border border-dark
                    row">
            <a class="border border-dark
                      col-4"
               style="max-width: max-content"
               href="#nav-top">
                &nbsp;&nbsp;&nbsp;&nbsp; Back to top ↑
            </a>
        </div>
    </div>
</footer>
