<footer id="footer">
    <img src="/assets/img/logo.png" alt="Get In Touch">
    <div>
        <a href="mailto:jingtianfeng@gmail.com">jingtianfeng@gmail.com</a>
        <div>
            <a href="https://github.com/jingtianfeng">GitHub</a>
            <a href="https://ca.linkedin.com/in/jing-tian-feng-66a295120">LinkedIn</a>
            <a href="#">Twitter</a>
        </div>
        <div>
            <span class="text-success">Available</span> for hire!
            <br>
            Will reply within 24 hrs.
        </div>
    </div>
    <div>
        <small class="d-block">
            Copyright © Jing Tian Feng. <br>
            All rights reserved.
        </small>
        <small class="d-block">
            <a href="/disclaimer">Disclaimer</a>
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </small>
        <small class="d-block">
            Made with ❤ by
            <a href="https://jtfeng.com">JT Feng</a>
        </small>
    </div>
</footer>
