<nav id="nav-top">
    <div class="border border-dark
                container py-2">
        <div class="border border-dark
                    d-flex align-items-center justify-content-between">
            <a class="border border-dark"
               style="width: 80px"
               href="/">
                Home
            </a>
            <img class="border border-dark"
                 src="/assets/img/logo.png" alt="Website logo"
                 height="60" width="auto">
            <a class="border border-dark
                      text-end"
               style="width: 80px"
               href="#footer">
                Contact
            </a>
        </div>
    </div>
</nav>
