<nav id="nav-top">
    <div class="border border-dark
                container">
        <div class="border border-dark
                    d-flex align-items-center justify-content-between">
            <a class="border border-dark"
               href="/">
                <img class="border"
                     src="/assets/img/logo.png" alt="Website logo"
                     height="60" width="auto">
            </a>
            <a class="border border-dark"
               href="#footer">
                Contact
            </a>
        </div>
    </div>
</nav>
