<nav id="nav-top">
    <div class="border container py-2">
        <div class="border d-flex align-items-center justify-content-between">
            <div class="border"
                 style="width: 80px">
                <img src="/assets/img/logo.png" alt="Website logo"
                     height="60" width="auto"
                     class="border">
            </div>
            <a href="/"
               class="border">
                WEB DEV
            </a>
            <a href="#footer"
               class="border btn btn-primary btn-sm"
               style="width: 80px">
                Contact
            </a>
        </div>
    </div>
</nav>
