.prose
  max-width: $prose-max-width

  h1, h2, h3, h4, h5, h6
    margin-top: map-get($spacers, 6)
    margin-bottom: map-get($spacers, 4)

  p + p
    margin-top: $prose-paragraph-adjacent-sibling-margin-top

  ol, ul
    padding-left: $prose-list-padding-left
    padding-top: $prose-list-padding-top
    padding-bottom: $prose-list-padding-bottom

  li + li
    margin-top: $prose-list-item-adjacent-sibling-margin-top
