.prose
  max-width: 65ch
  font-size: 1.125rem
  line-height: 1.75

  h1, h2, h3, h4, h5, h6
    margin-top: 1.75em
    margin-bottom: 0.75em

  li + li
    margin-top: map-get($spacers, 3)

  img
    max-width: 100%
    height: auto
    margin: map-get($spacers, 4) 0
    border-radius: $border-radius
