---
---

// =================================================================================
// 1. Functions & Initial Variables
// ---------------------------------------------------------------------------------
@import "bootstrap/functions";
// ---------------------------------------------------------------------------------
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.625,
        5: $spacer * 2.625,
        6: $spacer * 4.25,
        7: $spacer * 6.875,
        8: $spacer * 11.125,
);
// ---------------------------------------------------------------------------------
$font-family-sans-serif: "Inter", "Helvetica Neue", sans-serif;
$line-height-base: 1.75;
$headings-font-family: "Inter";
$headings-font-weight: 600;
$display-font-weight: 500;
$display-line-height: 1.125;
// ---------------------------------------------------------------------------------
$gray: #404abf;
$white: tint-color($gray, 90%);
$gray-100: tint-color($gray, 80%);
$gray-200: tint-color($gray, 60%);
$gray-300: tint-color($gray, 40%);
$gray-400: tint-color($gray, 20%);
$gray-500: $gray;
$gray-600: shade-color($gray, 20%);
$gray-700: shade-color($gray, 40%);
$gray-800: shade-color($gray, 60%);
$gray-900: shade-color($gray, 80%);
$black: shade-color($gray, 90%);
// ---------------------------------------------------------------------------------
$primary: $gray-500;
$body-bg: $gray-900;
$body-color: $gray-100;
$link-color: $body-color;
$link-decoration: none;
// ---------------------------------------------------------------------------------
$letter-spacings: (
        1: 0.01em,
        2: 0.02em,
        3: 0.03em,
        4: 0.04em,
        5: 0.05em,
        6: 0.06em,
        7: 0.07em,
        8: 0.08em,
        9: 0.09em,
);
$utilities: (
        "letter-spacing": (
                property: letter-spacing,
                values: (
                        map-merge($letter-spacings, negativify-map($letter-spacings))
                )
        )
);
// =================================================================================
// 2. Default & Derived Variables
// ---------------------------------------------------------------------------------
@import "bootstrap/variables";
// ---------------------------------------------------------------------------------


// =================================================================================
// 3. Rest of Bootstrap
// ---------------------------------------------------------------------------------
@import "bootstrap/mixins";
@import "bootstrap/utilities";
// ---------------------------------------------------------------------------------
@import "bootstrap/root";
@import "bootstrap/reboot";
// ---------------------------------------------------------------------------------
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/offcanvas";
@import "bootstrap/placeholders";
// ---------------------------------------------------------------------------------
@import "bootstrap/helpers";
// ---------------------------------------------------------------------------------
@import "bootstrap/utilities/api";
// =================================================================================
// 4. Non-Bootstrap
// ---------------------------------------------------------------------------------
@import "prose";
